body {
  background-image: url('../assets/4f44ff48c097572371c52ee43137c467.jpg');
  background-size: cover;
}


.center {
  display: flex;
  justify-content: center;

}




@import 'semantic-ui-css/semantic.min.css'