body {
  background-image: url('../assets/017c72b198a8ae79ec2a7f679a01c7f7.jpg');
  background-size: cover;
  background-attachment: fixed;
  // background-position: center;
}

// NAVBAR

.center {
  display: flex;
  justify-content: center;

}
div.ui.segment {
  margin: 0;
}

// HOMEPAGE
.Home {
  text-align: center;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(235, 170, 133, 0.3);
}

h1.name {
  font-size: 4rem;
}

.home-text {
  margin-left: 3%;
  margin-right: 3%;
  // background: rgba(235, 170, 133, 0.3);
  padding: 3% 20%;

}

.arrow:hover {
  animation: pulse 0.5s;
  animation-iteration-count: infinite; 
}

@keyframes pulse {
  from {
    transform : scale(1);
}
50% {
    transform : scale(0.75);
}
to {
    transform : scale(1);
}
}

// ABOUT ME 


.about {
  background: rgba(231, 231, 230, 0.5);
}

.me {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.ui.horizontal.divider {
  margin: 0;
}

.ui.ui.segment.aboutme.aboutme {
  background: none;
  border: none;
}

h1.ui.header.meheader {
  padding-top: 5%;
  padding-bottom: 5%;
}

.devicon-git-plain {
  max-width: 7rem;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #585758;
  
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.tech-logo {
  padding: 3%;
  width: 7rem;
  height: 7rem;
}

// PROJECTS

.project-header {
  padding: 1rem;
  width: 100%;
  height: 13vh;
  background: #1b1c1d;
  border-radius: 0.28571429rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.ui.header.projectsheader {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}

.tab-container {
  padding: 1%;
  background: rgba(235, 170, 133, 0.3);
}

img.ui.massive.image.project-image {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.mobile-tab {
  overflow-x: scroll;
}

.ui.menu.item {
  font-weight: bold;
}

.ui.vertical.tabular.menu {
  background: rgba(245, 245, 241, 0.7);
  border-radius: 0.5rem;
  font-weight: bold;
}

// EXPERIENCE PAGE

.experience-grids {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

div.ui.segment.experience-container {
  background: rgba(245, 245, 241, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ga-image {
  width: 80%;

}

// INTEREST PAGE

.interest-container {
  background: rgba(235, 170, 133, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  
}

.grid-container {
  width: 80%;
}

div.column.travelling {
  padding: 0;
  margin: 0;
}

// CONTACT

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgba(245, 245, 241, 0.8);
  width: 95%;
  border-radius: 1rem;
}

button.ui.grey.huge.circular.icon.button.each-button {
  margin-bottom: 1%;
}


.contact-link {
  color: black;
  font-weight: bold;
  font-size: larger;
  padding-left: 2rem;
}

@media only screen and (max-width: 414px) {
  .contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgba(245, 245, 241, 0.8);
    width: 95%;
    border-radius: 1rem;
  }
  .contact-link {
    color: black;
    font-weight: bold;
    font-size: larger;
    padding-left: 1rem;
  }
  .tech-logo {
    padding: 2%;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .ui.tabular.menu .item {
    padding-left: 3%;
    padding-right: 3%;
    background: rgba(245, 245, 241, 0.7);
  }

  div.tab-container {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  h1.name {
    font-size: 3rem;
  }

  .home-text {
    margin-left: 3%;
    margin-right: 3%;
    // background: rgba(235, 170, 133, 0.3);
    padding: 3% 10%;
  
  }
}


@import 'semantic-ui-css/semantic.min.css'